﻿<%@ Page Title="Home Page" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeFile="Default.aspx.cs" Inherits="_Default" %>

<asp:Content runat="server" ID="FeaturedContent" ContentPlaceHolderID="FeaturedContent">
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1> Hello MSSE 682 </h1>
                <h2>This page has been visited
                    <%Response.Write(Application["SiteCounter"].ToString()); %>
                    times
                </h2>

            </hgroup>
        </div>
    </section>
</asp:Content>